@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 3);

    $angle: (360 / $item-count);
    $rot: 15;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        @include vendor-prefix(transform, rotate($rot *1deg) translate($circle-size /2) rotate($rot * -1deg));

      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 8, $circle-size: 20em, $item-size: 10em);
  float: left;
  margin: 6em;
  border: solid 10px tomato;

  img {
    @include vendor-prefix(transition, .3s);
    display: block;
    max-width: 60%;
    border-radius: 50%;
    @include vendor-prefix(filter, (grayscale(0)));
    border: solid 5px tomato;

    &:hover,
    &:active {
      @include vendor-prefix(filter,grayscale(50));
    }
  }
}
body{
  background-image: url("../images/backgroundPic.png");
  background-size: cover;
  resize: horizontal;
}
header div{
  width: 95%;
  height: 40px;
  background-image: url("../images/BGSideFrame.png");
}