body {
  padding-top: 50px;
}

#jumbo {
  padding: 40px 15px;
  box-shadow: 0 0 10px #777;
 margin-top: 10em;
}


canvas {
  //border-radius: 30px;
  padding: 40px 15px;
  box-shadow: 0 0 10px #777;
  width: 1024px;
  height: 768px;
}