@import "../variables";
@import "../placeholders";
@import "../../../bourbon/bourbon";
@import "../mixin";





.nav-main{
    width: 100%;
    height: 70px;
    color: antiquewhite;

  .logo {
    float: left;
    height: 40px;
    padding: 15px 30px;
    font-size: 1.4em;
    line-height: 40px;
    border-right: inset;
  }
    >ul{
      display: inline;

      float: left;
      >li{
        @extend %plainlist;
        float: left;
      }
    }


}



@media only screen and (max-width: 320px) {

  body { font-size: 2em; }

}

.circle-div {
  height: 40px;
}