@import "placeholders";
@import "variables";
@import "partials/all";
@import "mixin";






body, html{

  background-size: cover;
  background: url($backgroundImageHtml) no-repeat;
  position: relative;
}
