@import "placeholders";
@import "variables";
@import "partials/all";
@import "mixin";
@import "../../bourbon/bourbon";
@import "slidemenu";





body, a, ul, li {
  margin: 0;
  outline: 0;
  padding: 0;
  list-style: none

}

html, body {
  height: 100%;
  min-height: $menu-size*2;

}

body {
  font-family: sans-serif;
  background-image: url("../../images/backgroundPic.png");
  background-size: cover;
  border-radius: 15em;
  transform: translate3d(0, 0, 0)
}

header{
  display: block;
  background-color: #222222;
  margin: 1.5em 0.5em;
  border-radius: 15em;
}
.content{
   position: fixed;
  top: 30%;
  left: 30%;
  display: inline-block;
  overflow: auto;
  overflow-y: scroll;
  border:groove 0.2em;
  word-wrap:break-word;
  width: 40em;
  max-width: 40em;
  height: 40em;

  font-family: $Font-Shoju;
}





.pContent {
  width: 40em;
  white-space: pre-wrap;

}
aside{
float: right;
  margin-left: em(50);
}
footer{
  position: fixed;
  bottom: 2%;
  left: 2%;
  clear:left;
  background:#efefef;
  text-align:center;
  padding:10px;
  margin: 0% 0.4%;
  opacity: 0.3;
  border-radius: 15em;

}