@import "placeholders";
@import "variables";
@import "partials/all";
@import "mixin";
@import "../../bourbon/bourbon";
@import "slidemenu";





body, a, ul, li {
  margin: 0;
  outline: 0;
  padding: 0;

  list-style: none

}

section{
  float: left;
  width: 44%;
  padding: 10px 15px;
  height: 80%;
  border-right: inset;
  overflow: hidden;
  overflow-y: scroll;

  background: url("../../images/BG_Content.png");
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
  height: 100%;
  min-height: $menu-size*2;
  min-width: $menu-size+5;
  max-width: 100%;

}

body {
  font-family: sans-serif;
  background-image: url("../../images/backgroundPic.png");
  background-size: cover;
  //transform: translate3d(0, 0, 0)
}

header{
  display: block;
  background-color: #222222;
  opacity: 0.5;
  margin: 1.5em 0.5em;
  border-radius: 15em;
}


h1{

}

h2{
  text-align: center;
  //@include
}

h3 {
  width: 100%;
  text-align: center;
  font-family: $Font-Josefin;
  font-size: larger;
}




aside{
float: right;
  padding: 0em 1em;

;

}
footer{
  position: fixed;
  bottom: 2%;
  left: 2%;
  clear:left;
  background:#efefef;
  text-align:center;
  padding:10px;
  margin: 0% 0.4%;
  opacity: 0.3;
  border-radius: 15em;

}

.leftBox-body {
  float: left;
  top: 20%;
  left: 1%;
  width: 20%;
  padding: 10px 10px;
  border-left: none;

}

.faqList {
  list-style-type: upper-latin;

}