@import "stylesheet";
@import "variables";
@import "slidemenu";


/*aside{
  padding: 0em 6em;
  //margin-bottom: 5em;

}

*/
.leftBox-body img {
  border:inset;
  height:100%;
  padding:0;
  width:100%;
}

.googleMap {

}

.leftTD {
  font-family: $Font-FiraMono;
}

