/*Urls für BDesigns*/
$backgroundImageHtml : "../../images/backgroundPic.png";
$BGImageNav:"../../images/navBtnGrid.png";
$BackgroundImageContent:"";


/* navBar items*/
$item:"nav-item";
$item1Lbl:"Home";
$item2Lbl:"Helden";

$item1LblSub1:"Home";
$item1LblSub2:"AGB'S";
$item1LblSub3:"Impressum";


$item2LblSub1:"Unsere Helden";
$item2LblSub2:"Kontakt";

 /*navBar attribs*/


$imageMax:" max-height:20em";

$mainSizeWidth:100%;
$mainSizeHeight:4.375em;


/* Slide Menubar*/
$li: 9; /* [1] */
$icon-size: 150px; /* [2] */
$menu-size: 300px / 2; /* [3] */
$unit-size: 45px;  /* [4] */
$menu-position: (($menu-size * 2) - $icon-size) / -2;
$offset: 100px; /* [5] */
$deg: 360deg / $li; /* [6] */

/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Shojumaru&subset=latin,latin-ext);

@function em($px) {
  @return ($px / $base) * 1em;
}








